.body
{
    background-color: hsl(30, 38%, 92%);
}
.product-image{
    width: 500px;
    height: 800px;
    border-radius: 10px;
    
}
.box-of-product{
display: flex;
flex-direction: row;
margin: auto;
margin-top: 100px;
border-radius: 5px;
border-color: brown;
border-width: 5px;
border-style: solid;
padding: 20px;
width: 1000px;

}
.product-title{
    font-size: 45px;
    padding: 10px;
}

.product-text{
    font-size: 24px;
    padding: 10px;
}

.price-after{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    color: green;
}
.price-before{
    display: flex;
    flex-direction: row;
    font-size: 35px;
    color: green;
}
.add-to-card{

    background-color: green;
}