body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  flex-wrap:wrap;
  flex-direction: row-reverse;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.video-container {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  
}

.products {
  padding: 20px;
  flex-direction: row-reverse;
  text-align: center;

}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  
}

.product {
  text-align: center;
 
}

.product img {
  max-width: 60%;
  height: auto;
}

.product img:hover {
  transform: scale(1.3);

}

.price {
  font-weight: bold;
  color: #333;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.home-btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  
}

.links img {
max-width: 5%;

}

.product-details {
display: flex;
flex-direction: row-reverse;
text-align: end; 
}

.details{
  padding: 10px;
}
@media (max-width: 768px) {
  .video-container {
    height: 200px;
  }

  .video-overlay {
    padding: 10px;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    display:inline;
  }
  nav ul {
  display: block;
  float: none;
  text-align: center;
}
nav ul li {
padding: 10px;
}
}